In [67]:

import pandas as pd

In [68]:
df = pd.read_csv("weather.csv" )
df

          day  temperature   windspeed  event
0  01-01-2017            32          6   rain
1  01-02-2017            35          7  sunny
2  01-03-2017            28          2   snow

In [69]:

df1 = pd.read_csv("stock_data.csv", skiprows = 5, header=None , names = ["Ticker","Eps","Revenue","Price","People"], nrows=3,na_values={
    'Eps':["nil","n.a"],
    'Revenue':["nil","n.a",-1],
    'People' :["nil","n.a"]})
df1

  Ticker  Eps  Revenue Price         People
0    RIL  NaN     50.0  1023  mukesh ambani
1   TATA  5.6      NaN    na     ratan tata

In [70]:
df1.to_csv("new.csv",index= False)